# Ignore IDE specific files.
/.idea/

# Ignore binary files.
__pycache__/
*.py[cod]
*.so

# Ignore the workspace files.
/po/
*--ignore
*--ignore.*
*gz

# Ignore distribution and packaging files.
/build/
/dist/
/*.egg-info/
